<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.scarletai.osqueryd</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/osquery/osquery.app/Contents/MacOS/osqueryd</string>
		<string>--config_path=/Users/agentmackenzie/Development/Security Apps/securityscarletai/config/osquery.conf</string>
		<string>--logger_path=/Users/agentmackenzie/Development/Security Apps/securityscarletai/data/osquery</string>
		<string>--database_path=/Users/agentmackenzie/Development/Security Apps/securityscarletai/data/osquery/osquery.db</string>
		<string>--pidfile=/Users/agentmackenzie/Development/Security Apps/securityscarletai/data/osquery/osqueryd.pid</string>
		<string>--logger_plugin=filesystem</string>
		<string>--logger_mode=0644</string>
		<string>--extensions_socket=/Users/agentmackenzie/Development/Security Apps/securityscarletai/data/osquery/osquery.em</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/agentmackenzie/Development/Security Apps/securityscarletai/data/osquery/osqueryd.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/agentmackenzie/Development/Security Apps/securityscarletai/data/osquery/osqueryd.out.log</string>
</dict>
</plist>
